<div class="container">
  <header class="jumbotron">
  
    <div class="container">
      <h1>3 choices availabe</h1>
      <div class="row">
   
      <div class="col-sm">
       <app-choice-card currentTitle = "Set Exam to Class" currentDesc=" this is NOT staticDescription works"></app-choice-card>
     </div>
   
     <div class="col-sm">
       <app-choice-card currentTitle="Add Exam structure" currentDesc="this is NOT static Description works" ></app-choice-card>
     </div>
   
     <div class="col-sm">
       <app-choice-card currentTitle="Set corrector to Class" currentDesc="This is NOT static Description works" ></app-choice-card>
     </div>
       </div>
     </div>
  </header>
  <body>

  </body>
</div>
