<div class="content">
    <h1>My Exams To Correct </h1>
  
      <div class="card-deck">
      
   
        <div  class="card"
        *ngFor="let examen of examens; let i = index"
        >
          <h5 class="card-title text-center p-3 mb-2 bg-info text-white"> {{ examen.className }}
          </h5>
          <div class="card-body">
            <p class="card-text">Subject : {{ examen.subject }}</p>
            <p class="card-text">Date : {{ examen.date }}  --</p>
            <p class="card-text">Questions Number:  {{ examen.questionNbr }} </p> 
            <p class="card-text">Total Mark:  {{ examen.totalMark }}</p>
        
          </div>
          <div>
          <table class="table">
            <tbody>
              <tr>
                <th>Uploaded</th>
                <th>Checked</th>
                <th>Remaining</th>
               
              </tr>
              <tr>
                <!-- <td>{{ examen.responsePDF.length }}</td>
                <td>0</td>
                <td>{{ examen.responsePDF.length }}</td>
                -->
              </tr>
              
            </tbody>
            </table></div>
          <div class="card-footer text-center">
            <button  (click)="GoToResponses(examen)"  type="button"  class="btn btn-info ">Check Paper</button>
          </div>
        </div>
  
      </div>
      
    </div>