

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--
<app-side-bar></app-side-bar>
-->
<div class="col-md-12">
  <div class="card card-container">
 
  <div>
</div>

     <app-copies-box ></app-copies-box>

    </div>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      <app-copies-box *ngIf="!logginStatus"></app-copies-box>
    </div>
    <div>
    </div>
    

<!-- Side navigation -->


</div>

