<header>
  <h1>Add Exam </h1>
</header>
<body>
<div>
  <div class="submit-form" *ngIf="!show">
    <div *ngIf="!submitted">
        <!---
        <input
          type="text"
          class="form-control"
          id="subject"
          required
          [(ngModel)]="examen.subject"
          name="subject"
        />
        -->
    <div class="form-group">

        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            class="form-control"
            id="className"
            required
            [(ngModel)]="examen.className"
            name="className"
            placeholder="Class Name"
          />
        </mat-form-field>
      </div>


        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="text"
              class="form-control"
              id="subject"
              required
              [(ngModel)]="examen.subject"
              name="subject"
              placeholder="Subject"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="date"
          class="form-control"
          id="date"
          required
          [(ngModel)]="examen.date"
          name="date"
          placeholder="Pick Date"
        />
      </mat-form-field>
      </div>
      <!---

      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="datetime"
          class="form-control"
          id="date"
          required
          [(ngModel)]="examen.date"
          name="date"
        />
      </div>

      -->
      <div class="form-group">

    <mat-form-field class="example-full-width">
      <input
        matInput
        type="number"
        class="form-control"
        id="questionNbr"
        required
        [(ngModel)]="examen.questionNbr"
        name="questionNbr"
        placeholder="Q Number"
        />
      </mat-form-field>    
    </div>
    <!---
      <div class="form-group">
        <label for="description">Questions Number</label>
        <input
          type='number'
          class="form-control"
          id="questionNbr"
          required
          [(ngModel)]="examen.questionNbr"
          name="questionNbr"
        />
      </div>
     -->

    <div class="form-group">
      <!-- <label for="description">Total Mark</label>
        <input
          type='number'
          class="form-control"
          id="totalMark"
          required
          [(ngModel)]="examen.totalMark"
          name="totalMark"
        />
        -->

      <mat-form-field class="example-full-width">
        <input
          matInput
          type="number"
          class="form-control"
          id="totalMark"
          required
          [(ngModel)]="examen.totalMark"
          name="totalMark"
          placeholder="Total Mark"
        />
      </mat-form-field>
    </div>
    <!---
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="text"
          class="form-control"
          id="pdfFile"
          required
          [(ngModel)]="examen.pdfFile"
          name="pdfFile"
          placeholder="PDF FILE"
        />
      </mat-form-field>
    </div>
  -->
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="number"
          class="form-control"
          id="copiesNbr"
          required
          [(ngModel)]="examen.copiesNbr"
          name="copiesNbr"
          placeholder="Copies Number"
        />
      </mat-form-field>
    </div>



    <app-upload-files (pdfExamenChange)="updatePdf($event)"  [pdfExamen]=true ></app-upload-files>
  </div>

  <!---
      <input class="ng-hide" id="input-file-id" multiple type="file" />
      <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
-->

  <button
    mat-raised-button
    color="primary"
    (click)="next()"
    class="btn btn-success"
    
  >
    Next
  </button>
</div>

<div class="submit-form" *ngIf="show">
 
 <app-questions-for-exam [examen]="examen"></app-questions-for-exam>
</div>




<div *ngIf="submitted">
  <h4>Examen was submitted successfully!</h4>
  <button class="btn btn-success" (click)="newExamen()">Add</button>
</div>
</body>