<div class="content">
    <div class=" card-deck">
      <div class="card">
        <h5 class="card-title text-center p-3 mb-2 bg-success text-white">Marketing Analytics</h5>
        <div class="card-body">
          
          <p class="card-text">Course:  BCA</p>
          <p class="card-text">Specialization:  --</p>
          <p class="card-text">Semestre:  Semestre 4</p>
          <p class="card-text">End DATE:  JAN/31/2021</p>
        </div>
        <div>
          <table class="table">
            <tbody>
              <tr>
                <th>Uploaded</th>
                <th>Checked</th>
                <th>Remaining</th>
               
              </tr>
              <tr>
                <td>5</td>
                <td>0</td>
                <td>6</td>
                
              </tr>
              
            </tbody>
            </table></div>
        <div class="card-footer text-center">
          <button routerLink="/copiesList" type="button" class="btn btn-success">Check Paper</button>
        </div>
      </div>
    
      <div class="card">
        <h5 class="card-title text-center p-3 mb-2 bg-success text-white">Marketing Analytics</h5>
        <div class="card-body">
          <p class="card-text">Course:  BCA</p>
          <p class="card-text">Specialization:  --</p>
          <p class="card-text">Semestre:  Semestre 4</p>
          <p class="card-text">End DATE:  JAN/31/2021</p>
      
        </div>
        <div>
        <table class="table">
          <tbody>
            <tr>
              <th>Uploaded</th>
              <th>Checked</th>
              <th>Remaining</th>
             
            </tr>
            <tr>
              <td>5</td>
              <td>0</td>
              <td>6</td>
              
            </tr>
            
          </tbody>
          </table></div>
        <div class="card-footer text-center">
          <button type="button"  class="btn btn-success ">Check Paper</button>
        </div>
      </div>
      <div class="card">
        <h5 class="card-title text-center p-3 mb-2 bg-success text-white">Marketing Analytics</h5>
        <div class="card-body">
          <p class="card-text">Course:  BCA</p>
          <p class="card-text">Specialization:  --</p>
          <p class="card-text">Semestre:  Semestre 4</p>
          <p class="card-text">End DATE:  JAN/31/2021</p>
      
        </div>
        <div>
        <table class="table">
          <tbody>
            <tr>
              <th>Uploaded</th>
              <th>Checked</th>
              <th>Remaining</th>
             
            </tr>
            <tr>
              <td>5</td>
              <td>0</td>
              <td>6</td>
              
            </tr>
            
          </tbody>
          </table></div>
        <div class="card-footer text-center">
          <button  routerLink="copiesList" type="button"  class="btn btn-success ">Check Paper</button>
        </div>
      </div>

    </div>
    
  </div>